/* fonts, headers, buttons, footer, header, margin on entire page, max screen width/height, links and text effects, background colors/color palette */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@700&display=swap");

:root {
  --violet: #6f2dbd;
  --fire: #ef6351;
  --lavender: #b298dc;
  --green: #6ecab0;
  --cyan: #b9faf8;
  --grey: #333333;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  margin: 10px;
  color: var(--grey);
}

/* HEADER */

header,
footer {
  text-align: center;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header nav ul::after {
  position: absolute;
  bottom: -10px;
  content: "";
  width: 515px;
  height: 1px;
  background-color: grey;
}

ul li a {
  text-decoration: none;
  margin: 10px 14px;
  color: gray;
}

footer ul li {
  padding: 2px;
}

/* BODY */
section {
  padding: 5vh 0;
  text-align: center;
  position: relative;
}

h1 {
  font-family: "Lusitana", serif;
  font-size: 6em;
  color: var(--lavender);
}

h2 {
  font-family: "Lusitana", serif;
  font-size: 3.5em;
  color: var(--lavender);
}

p {
  font-size: 1.4em;
}

button {
  font-family: "Lusitana", serif;
  font-size: 2em;
  border: none;
  background: none;
  text-shadow: 2px 2px #86362b;
  padding: 0.5em;
  color: var(--fire);
  text-decoration: underline;
  text-underline-offset: 9px;
}

button:hover {
  color: #f59d92;
}

button:active {
  border: 2px dashed var(--fire);
}

button:focus {
  outline: 0;
}

@media (min-width: 1100px) {
  body {
    max-width: 1920px;
    margin: auto;
  }

  main {
    margin: auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
  }

  footer ul {
    display: block;
    text-align: left;
  }

  p {
    margin: 0 4em;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 3em;
    margin-bottom: 1.3em;
  }
  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  p {
    padding: 0 1.5em;
    font-size: 1em;
  }

  footer,
  header {
    padding-top: 2em;
  }

  button {
    margin: 1em;
  }
}

#white {
  color: white;
}
