#one {
  background: rgb(9, 188, 138);
  background: radial-gradient(circle, rgba(9, 188, 138, 1) 41%, rgba(185, 250, 248, 1) 100%);
  max-height: 40vh;
  padding: 8vh 0;
  color: white;
}

#two {
  min-height: 65vh;
}

#different_color {
  color: var(--lavender);
}

#three {
  background: rgb(178, 152, 220);
  background: radial-gradient(circle, rgba(178, 152, 220, 1) 22%, rgba(9, 188, 138, 1) 100%);
  color: white;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

#four {
  min-height: 65vh;
}

#five {
  background: rgb(111, 45, 189);
  background: radial-gradient(circle, rgba(111, 45, 189, 1) 33%, rgba(239, 99, 81, 1) 100%);
  color: white;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

#phonebottom,
#phoneside,
#socket2,
#socket3,
#boom,
#keychains,
#socket,
#case {
  position: absolute;
}

#socket2 {
  width: 15vw;
  top: -7.5vw;
  left: 100px;
}

#socket3 {
  width: 24vw;
  z-index: 5;
  right: -12vw;
  bottom: -12vw;
}

#phonebottom {
  width: 15vw;
  left: 50px;
  bottom: -20vw;
}

#phoneside {
  transform: rotate(90deg);
  width: 20vw;
  right: -25vw;
  top: -20vh;
}

#keychains {
  width: 30vw;
  left: 3vw;
  bottom: 8vh;
  z-index: 5;
}

#boom {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20vw;
}

#socket {
  width: 10vw;
  left: 25vw;
}

#case {
  width: 30vw;
  right: 3vw;
  bottom: 8vh;
  transform: rotate(20deg);
}

button {
  position: absolute;
  top: 45%;
  left: 45%;
}

.right {
  text-align: right;
  margin-right: 2em;
}

.left {
  text-align: left;
  margin-left: 2em;
}

@media only screen and (max-width: 800px) {
  #phoneside,
  #phonebottom,
  #socket3,
  #keychains,
  #socket {
    display: none;
  }

  #socket2 {
    position: relative;
    left: 0;
    width: 25vw;
  }

  #two,
  #four {
    min-height: auto;
  }

  #shop-now {
    position: relative;
    left: 0;
  }

  #case {
    position: relative;
    display: block;
    margin: auto;
    left: 0;
    top: 0;
    height: 40vh;
    width: auto;
  }
}
