section img {
    max-height: 400px;
}

section,
.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.bubble {
    position: absolute;
    left: 49.5vw;
    top: 25vh;
    width: 1vw;
    height: 1vw;
    background-color: yellow;
    border-radius: 50%;
}

section:nth-child(2) h1 {
    color: var(--fire);
}

section:nth-child(3) h1 {
    color: var(--green);
}

.wrap img {
    position: relative;
}

.cyan_bubble {
    background-color: var(--cyan);
    padding: 200px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    background-image: url(./img/blur-effect.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 550px;
}

.container {
    margin: 10px;
    max-width: 600px;
}

section:last-child img {
    max-height: 300px;
    margin: 20px;
}

section:last-child {
    background-color: var(--green);
}